<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>yuntui.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E155BDBE1C5F535600A6504F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E155BDD71C5F535700A6504F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E155BDE21C5F535700A6504F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
